<%= link_to @project.name, project_path(@project) %> >> <%= @task.title %></h3>
<h4><%= @task_title %></h4>
<table>
  <tr>

    <td>
      <%= @task.description %>
    </td>
   <!--  <td>
      Image:
      <%#= image_tag @task.image_url.to_s, :width => '500px', :alt => 'image not found' %>
    </td> -->
  </tr>
  <tr>
    <td>
      Status:
      <%= @task.status %>
    </td>
    <td>
      Assigned to:
      <%= @task.developer.email %>
    </td>
  </tr>
</table>