<script>
  $(document).ready(function(){
      $('.carousel').carousel({
          interval: 5000
      });
  });
</script>

<div class="row-fluid" style="margin-left:20%;">
  <%= form_for @user, :html => {:class => 'form-horizontal span5'} do |user| %>
      <fieldset>
        <legend class="alert alert-success" style="width:90%;">Edit Profile</legend>
        <%= render :partial => 'attribute_text_well_div', :locals => {:attribute => 'name', :model => user, :object => @user, :place_holder => 'Name', :muted => "", :ex_class => ""} %>

        <%= render :partial => 'attribute_text_well_div', :locals => {:attribute => 'email', :model => user, :object => @user, :place_holder => 'Email Adress', :muted => "We don't spam or sell your email address.", :ex_class => ""} %>

        <%= render :partial => 'attribute_text_well_div', :locals => {:attribute => 'phone', :model => user, :object => @user, :place_holder => 'Contact', :muted => "", :ex_class => ""} %>

        <%= render :partial => 'attribute_select_well_div', :locals => {:attribute => 'user_type', :model => user, :object => @user, :place_holder => 'Type', :muted => "Are you developer QA or Manager?", :ex_class => ""} %>

        <%= render :partial => 'attribute_password_strength_div', :locals => {:attribute => 'password', :model => user, :object => @user, :place_holder => 'Password'} %>
        <%= render :partial => 'attribute_password_well_div', :locals => {:attribute => 'password_confirmation', :model => user, :object => @user, :place_holder => 'Retype Password'} %>
        <p class="muted">
          <small>By clicking on "Create an account" below, you are agreeing to the
            <a href="http://help.github.com/terms/" target="_blank">Terms of Service</a> and the
            <a href="http://help.github.com/privacy/" target="_blank">Privacy Policy</a>.
          </small>
        </p>
      </fieldset>
      <%= content_tag(:div, "", :class => "form-actions") do %>
          <%= user.submit "Update Account", :class => 'btn btn-primary' %>
      <% end %>
  <% end %>
</div>