
<div class="row-fluid">
	<% if params[:exam_id].present? %>
		<%	@exam = Exam.find(params[:exam_id]) %>
		<%	@book = @exam.books.first %>
	<% elsif params[:book_id].present? %>
		<%	@book = Book.find(params[:book_id]) %>
		<%	@exam = @book.exam %>
	<% elsif params[:id].present? %>
		<%	@book = Book.find(params[:id]) %>
		<%	@exam = @book.exam %>
	<% end %>
	
	<%= link_to('Exams page', exams_path, :class => 'btn btn-mini') %>
	<%= link_to('Add Sheets', new_exam_sheet_path(@exam, {:basic_uploader => false}), :class => 'btn btn-mini') %>
	<% if @exam.current_step >1 %>
   		<%= link_to('Varify Sheets', exam_sheets_path(@exam), :class => 'btn btn-mini') %>
   	<% else %>
   		<%= link_to('Varify Sheets',  "javascript:void(0);", :class => 'btn btn-mini disabled') %>
   	<% end %>

   	<% if @exam.current_step >2 %>
   		<%= link_to('Define Sample', define_sample_book_path(@book), :class => 'btn btn-mini') %>
   	<% else %>
   		<%= link_to('Define Sample',  "javascript:void(0);", :class => 'btn btn-mini disabled') %>
   	<% end %>

   	<% if @exam.current_step >3 %>
    	<%= link_to('Check Exam', book_stacks_path(@book), :class => 'btn btn-mini') %>
   	<% else %>
   		<%= link_to('Check Exam',  "javascript:void(0);", :class => 'btn btn-mini disabled') %>
   	<% end %>	
    
</div>	