<h1>Edit Project</h1>
  <%#TODO move to partial %>
<%= form_for(@project) do |f| %>
    <div>
      <b>Name</b><br/>
      <%= f.text_field :name,style: "width:363px;" %>
    </div>

    <div>
      <b>Description</b><br/>
      <%= f.text_area :description, rows: 5,style: "width:363px;" %>
    </div>

    <div>
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

