<!DOCTYPE html>
<html>
<head>
<title><%= content_for?(:title) ? yield(:title) : "BTS" %></title>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "application" %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= yield(:head) -%>
</head>
<body id="dt_example">
<%= render :partial => 'layouts/navBarLayout' %>
<div class="container">
  <%= render :partial => 'layouts/content' %>

</div> <!-- /container -->
</body>
</html>

